* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232323;
}

.container {
  padding: 0px 40px 40px 40px;
  position: relative;
}

section {
  z-index: 2;
}

.gallery {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.gallery__item {
  position: relative;
  height: 300px;
  width: calc(100% - 20px);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
  z-index: 10;
  transform: skewX(-10deg);
  transition: transform 500ms ease-in-out;
  cursor: pointer;
  border: 10px solid #e0e0e0;
}
.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 500ms ease-in-out;
  filter: brightness(0.7);
}
.gallery__description {
  position: absolute;
  top: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: 0 -250px 150px -250px #000 inset, 0 -250px 150px -250px #000 inset;
  transform: translateY(100%);
  transition: transform 500ms ease-in-out;
}

.header {
  z-index: 3;
  position: relative;
  padding-top: 20px;
}
.header__title {
  font-family: "Shantell Sans", serif;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.header__description {
  margin-top: 20px;
  font-family: "Lobster", sans-serif;
  color: #ffcb00;
  font-size: 34px;
  text-align: center;
}
.header__name {
  color: rgb(217, 255, 0);
}

.gallery__item:hover .gallery__description {
  transform: translateY(0%);
}
.gallery__item:hover .gallery__image {
  filter: brightness(1);
}

.tlo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}
.tlo::before, .tlo::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  transition: transform 500ms ease-in-out;
}
.tlo::before {
  background-color: rgba(9, 105, 255, 0.6);
}
.tlo::after {
  background-color: rgb(217, 255, 0);
}

.button {
  position: relative;
  z-index: 300;
  height: 70px;
  width: 200px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #13a51f;
}
.button__link {
  font-family: "Shantell Sans";
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1279px) {
  .gallery__image {
    filter: brightness(1);
  }
}
@media screen and (min-width: 320px) {
  .header__title {
    font-size: 38px;
  }
  .header__description {
    font-size: 24px;
  }
}
@media screen and (min-width: 480px) {
  .header__title {
    font-size: 30px;
  }
  .gallery__item {
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 640px) {
  .header__title {
    font-size: 40px;
  }
  .header__description {
    font-size: 30px;
  }
}
@media screen and (min-width: 720px) {
  .header__title {
    font-size: 48px;
  }
  .header__description {
    font-size: 36px;
  }
  .gallery__item {
    width: calc(50% - 20px);
  }
}
@media screen and (min-width: 1000px) {
  .header__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: calc(33% - 20px);
  }
  .header__title {
    font-size: 46px;
  }
  .header__description {
    font-size: 42px;
  }
  .tlo::before {
    transform: translateY(-150%);
  }
  .tlo::after {
    transform: translateY(150%);
  }
  .gallery:hover ~ .tlo::before,
  .gallery:hover ~ .tlo::after {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 1600px) {
  .gallery__item {
    width: calc(33% - 60px);
  }
}/*# sourceMappingURL=style-pages.css.map */